.componentsPageWrapper {
    //padding-left: 111px;
}

.selectionBoxWrapper {
    //padding-top: 50px;
}

.tableWrapper {
    padding-top: 50px;
}

.testimg {
    display: flex;
}
.testimg1 {
    width: 22px;
    height: 22px;
    margin-right: 14.4px;
}

.testimgg1 {
    width:26px;
    height:26px;
    border: 1px solid #828282;
    border-radius: 15px;
    margin-right: 10px;
}
