.dropDownMenuWrapper {
    width: 350px;
    background: #ffffff;
    border: 1px solid #e5e5e5;
    box-shadow: 0px 2px 7px rgba(153, 153, 153, 0.3);
    border-radius: 4px;

    &__box {
        background: #ffffff;
        padding: 7px 83px 7px 14px;
        cursor:pointer;

        &--active{
            border:1px solid black;
        }

        &__heading {
            font-size: 14px;
            color: #1a1a1a;
        }

        &__description {
            font-size: 12px;
            color: #808080;
        }
    }
}
