.dropdownwrapper {
    width: 220px;
    height: 52px;
    border: 0.8px solid #afb0b9;
    box-sizing: border-box;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__text {
        font-family: Inter;
        font-size: 15px;
        color: #4a4c53;
        margin-left: 31px;
    }

    & svg {
        width: 25px;
        height: 15px;
        fill: #4A4C53;
        margin-right: 20px;
    }
}


